In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DataSet\CreditCardData.csv\CreditCardData.csv')

In [3]:
df.head()

,Transaction ID,Date,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Shipping Address,Country of Residence,Gender,Age,Bank,Fraud
0,#3577 209,14-Oct-20,Wednesday,19,Visa,Tap,£5,POS,Entertainment,United Kingdom,United Kingdom,United Kingdom,M,25.2,RBS,0
1,#3039 221,14-Oct-20,Wednesday,17,MasterCard,PIN,£288,POS,Services,USA,USA,USA,F,49.6,Lloyds,0
2,#2694 780,14-Oct-20,Wednesday,14,Visa,Tap,£5,POS,Restaurant,India,India,India,F,42.2,Barclays,0
3,#2640 960,13-Oct-20,Tuesday,14,Visa,Tap,£28,POS,Entertainment,United Kingdom,India,United Kingdom,F,51.0,Barclays,0
4,#2771 031,13-Oct-20,Tuesday,23,Visa,CVC,£91,Online,Electronics,USA,USA,United Kingdom,M,38.0,Halifax,1

In [4]:
df.describe()

                Time            Age          Fraud
count  100000.000000  100000.000000  100000.000000
mean       14.562870      44.993770       0.071950
std         5.308195       9.948494       0.258406
min         0.000000      15.000000       0.000000
25%        10.000000      38.200000       0.000000
50%        15.000000      44.900000       0.000000
75%        19.000000      51.700000       0.000000
max        24.000000      86.100000       1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Transaction ID          100000 non-null  object
 1   Date                    100000 non-null  object
 2   Day of Week             100000 non-null  object
 3   Time                    100000 non-null  int64
 4   Type of Card            100000 non-null  object
 5   Entry Mode              100000 non-null  object
 6   Amount                  99994 non-null   object
 7   Type of Transaction     100000 non-null  object
 8   Merchant Group          99990 non-null   object
 9   Country of Transaction  100000 non-null  object
 10  Shipping Address        99995 non-null   object
 11  Country of Residence    100000 non-null  object
 12  Gender                  99996 non-null   object
 13  Age                     100000 non-null  float64
 14  Bank                    100000 non-null  object
 15  Fraud                   100000 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 12.2+ MB

In [6]:
df[df['Fraud'] == 1].info()

<class 'pandas.core.frame.DataFrame'>
Index: 7195 entries, 4 to 99993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction ID          7195 non-null   object
 1   Date                    7195 non-null   object
 2   Day of Week             7195 non-null   object
 3   Time                    7195 non-null   int64
 4   Type of Card            7195 non-null   object
 5   Entry Mode              7195 non-null   object
 6   Amount                  7192 non-null   object
 7   Type of Transaction     7195 non-null   object
 8   Merchant Group          7195 non-null   object
 9   Country of Transaction  7195 non-null   object
 10  Shipping Address        7195 non-null   object
 11  Country of Residence    7195 non-null   object
 12  Gender                  7195 non-null   object
 13  Age                     7195 non-null   float64
 14  Bank                    7195 non-null   object
 15  Fraud                   7195 non-null   int64
dtypes: float64(1), int64(2), object(13)
memory usage: 955.6+ KB

In [7]:
df['Amount'] = df['Amount'].str.replace('£', '').astype(float)

In [8]:
df['Fraud'].value_counts()

Fraud
0    92805
1     7195
Name: count, dtype: int64

In [13]:
print(df['Amount'][df['Fraud'] == 1].describe())

TypeError: '>=' not supported between instances of 'str' and 'float'